.resultItem {
    height: auto;
    width: 100%;
    max-height: 250px;
    background-color: #fafafa;
    overflow: hidden;
}
.resultItem:hover {
    background-color:white;
    cursor: pointer;
}
.searchBar .searchInput {
    display: inline-block;
    width: 80%;
}
.searchBar button {
    display: inline-block;
    width: 15%;
}
.searchBar button:hover {
    cursor: pointer;
}
.searchResult {
    margin: 0 auto;
    width: 80%;
    max-height: 400px;
    overflow: scroll;
}
.resultItem img {
    float: left;
    height: 50px;
    width: 50px;
    max-height: 150px;
    overflow-y: hidden;
}
.resultItem h1 {
    text-align: left;
    display: inline;
    font-size: 16px;
    color: #444;
}
.resultItem p {
    text-align: left;
}
.resultItem ul {
    text-align: left;
}
.resultItem ul li {
    display: inline;
}
