.resultItem {
    height: auto;
    width: 100%;
    max-height: 250px;
    background-color: #fafafa;
    overflow: hidden;
}
.search-content {
    width: 90%;
    margin: 15% auto 0 auto;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    background-color: #fff;
    box-sizing: border-box;
    max-height: 550px;
    overflow-y: scroll;
  }
.resultItem:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #dbdbdb;
}
.searchBar .searchInput {
    display: inline-block;
}
.searchResult {
    margin: 0 auto;
    overflow: scroll;
}
.resultItem {
    margin: 10px;
    height: 180px;
    width: 110px;
    color: #293f54;
    display: inline-block;
    transition: 0.4s;
}
.resultItem img {
    height: auto;
    width: 100%;
    max-height: 150px;
    overflow-y: hidden;
}
.resultItem h1 {
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    color: #222;
    background-color: #fff;
    padding: 10px 0;
}
.resultItem p {
    text-align: left;
}
.resultItem ul {
    text-align: left;
}
.resultItem ul li {
    display: inline;
}
@media screen and (max-width: 980px) {
    .skewed-bg {
        padding-top: 5%;
    }
}
@media screen and (max-width: 780px) {
    .skewed-bg {
        padding-top: 10%;
    }
}
@media screen and (max-width: 580px) {
    .skewed-bg {
        padding-top: 15%;
    }
}